@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
#container {
    width: 400px;
    height: 550px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
}

/* Background options */
.default {
    background-color: #87CEEB;
}

.sunny {
    background-color: #FFD700;
}

.cloudy {
    background-image: url('cloudy_image2.jpg');
    /* background-color: #B0C4DE;  */
}

.rainy {
    background-color: #708090; 
}

.snowy {
    background-color: #F0FFFF; 
}

.thunderstorm {
    background-color: #778899;
}

/* end of background options */

/* extension text styles */

#city {
    font-family: "Kanit", sans-serif;
    font-size: 48px;
    color: black;
    display: flex;
    justify-content: center;
}

#weatherImage { 
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
}

#actualWeather {
    display: flex;
    justify-content: center;
    font-family: "Kanit", sans-serif;
    font-size: 36px;
}

#feelsLikeWeather {
    display: flex;
    justify-content: center;
    font-family: "Kanit", sans-serif;
    font-size: 36px;
}

#weatherDescription {
    display: flex;
    justify-content: center;
    font-family: "Kanit", sans-serif;
    font-size: 24px;
}

#windGusts {
    display: flex;
    justify-content: center;
    font-family: "Kanit", sans-serif;
    font-size: 24px;
    color: black;
}

#windSpeed {
    display: flex;
    justify-content: center;
    font-family: "Kanit", sans-serif;
    font-size: 24px;
    color: black;
}

#dateTime {
    display: flex;
    justify-content: center;
    font-family: "Kanit", sans-serif;
    font-size: 24px;
    position: fixed;
    bottom: 5px;
}

#windDirection {
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    font-size: 1.25rem;
}

#windDirection div {
    margin-left: .5rem;
    display: inline-block;
    font-size: 2em;
    transform-origin: center center;
}